{% extends "base.html" %}

{% block title %}Iniciar sesión{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
{% endblock %}

{% block content %}
<div class="login-container">
    <h2>Acceso al sistema</h2>

    <form method="POST" action="{{ url_for('auth.login') }}">
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.email.label }} {{ form.email(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.password.label }} {{ form.password(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.submit(class="btn-agregar") }}
        </div>
    </form>

    <p class="registro-link">
        ¿No tenés cuenta? <a href="{{ url_for('auth.registro') }}">Registrate acá</a>
    </p>
</div>
{% endblock %}